bbc.co.uk/bbc-schedule.wadl

<!--
The contents of this file are subject to the terms
of the Common Development and Distribution License
(the "License").  You may not use this file except
in compliance with the License.

You can obtain a copy of the license at
http://www.opensource.org/licenses/cddl1.php
See the License for the specific language governing
permissions and limitations under the License.
-->
<?xml version="1.0" encoding="ISO-8859-1" ?>
<wadl:application 
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
  <wadl:doc>A simple subset of the BBC scheduling REST service written by hand</wadl:doc>
    
  <wadl:grammars>
    <wadl:include href="bbc-schedule.xsd">
       <wadl:doc>A XML Grammar based on some example messages as generated by the XSD from XML wizard in JDeveloper</wadl:doc>
    </wadl:include>
  </wadl:grammars>
   
  <wadl:resources base="http://www.bbc.co.uk">
    <wadl:doc>This WADL represents the REST API as descibed on the  <a href="http://www.bbc.co.uk/programmes/developers">BBC developers page</a></wadl:doc>
  
    <wadl:resource path="{service}">
        <wadl:param name="service" style="template">
           <wadl:doc>The BBC service, for example radio1 or radio4</wadl:doc>
        </wadl:param>
    
        <wadl:resource path="programmes/schedules/{outlet}">
            <wadl:param name="outlet" style="template">
               <wadl:doc>The outlet, this might map to a country ie england, for radio1, or a medium, for radio2, for example fm</wadl:doc>
            </wadl:param>
            
            <wadl:resource path="{modifier}.xml">
                <wadl:param name="modifier" style="template" type="xsd:string">
                   <wadl:doc>Simple time period modifier</wadl:doc>
                   <wadl:option value="yesterday" />
                   <wadl:option value="today" />
                   <wadl:option value="tomorrow" />
                </wadl:param>

               <wadl:method name="GET">
                   <wadl:doc>Get the schedule for yesterday/today/tommorrow depending on the modifier</wadl:doc>
                   <wadl:response status="200">
                      <wadl:representation mediaType="application/xml" element="schedule" />
                   </wadl:response>
                </wadl:method>
            </wadl:resource>

            <wadl:resource path="{year}/{month}/{day}.xml">
                <wadl:param name="year" style="template" type="xs:int">
                   <wadl:doc>The year to filter by</wadl:doc>
                </wadl:param>
                <wadl:param name="month" style="template" type="xs:int">
                   <wadl:doc>The month to filter by</wadl:doc>
                </wadl:param>
                <wadl:param name="day" style="template" type="xs:int">
                   <wadl:doc>The day to filter by</wadl:doc>
                </wadl:param>


               <wadl:method name="GET">
                   <wadl:doc>Get the scheduel for the specific day</wadl:doc>
                   <wadl:response status="200">
                      <wadl:representation mediaType="application/xml" element="schedule" />
                   </wadl:response>
                </wadl:method>
            </wadl:resource>

            
        </wadl:resource>
    
    
    </wadl:resource>
  </wadl:resources>
</wadl:application>
